<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#41414C" />
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/novo.css">
    <link rel="stylesheet" href="/styles/endereco.css">
    <link rel="stylesheet" href="/styles/header.css">

    <title>Cadastro de Clientes</title>
</head>

<body>
    <div class="container">
        <%- include('parts/header', {title: 'Endereço do Cliente' , button: 'Home' , urlButton: '/' }) %>
    </div>

    <div class="client-list">
        <form id="form-client" method="POST" action="/endereco">
            <div class="client-address">

                <div class="separator light"></div>
                <h2>Endereço</h2>

                <div class="inputs-address">
                    <span>
                        <label for="tipo">Tipo</label>
                        <select name="tipo" id="tipo" required>
                            <option value=""></option>
                            <option value="comercial">Comercial</option>
                            <option value="correspondencia">Correspondência</option>
                            <option value="residencial">Residencial</option>
                        </select>
                    </span>
                    <span>
                        <label for="rua">Rua</label>
                        <input type="text" id="rua" name="rua" />
                    </span>
                    <span>
                        <label for="numero">Número</label>
                        <input type="text" id="numero" name="numero" />
                    </span>
                </div>

                <div class="inputs-address">
                    <span>
                        <label for="bairro">Bairro</label>
                        <input type="text" id="bairro" name="bairro" />
                    </span>
                    <span>
                        <label for="cidade">Cidade</label>
                        <input type="text" id="cidade" name="cidade" />
                    </span>
                    <span>
                        <label for="cep">CEP</label>
                        <input type="text" id="cep" name="cep" />
                    </span>
                </div>
            </div>
            <div class="separator light"></div>
            <button id="save-new-address" type="submit" form="form-client">Gravar</button>
            <button type="submit" form="form-client">Gravar e Novo Endereço</button>
        </form>
    </div>
    <script src="scripts/enderecos.js"></script>
</body>

</html>