<div class="client-list">
    <form id="form-client-network" method="POST" action="/redes">
        <div class="client-network">

            <div class="separator light"></div>
            <h2>Contato</h2>

            <div class="inputs-network">
                <span>
                    <label for="twitter">Twitter</label>
                    <input type="text" id="twitter" value="<%= dataNetworks.twitter %> " name="twitter" placeholder="cole link do twitter aqui" />
                </span>
                <span>
                    <label for="facebook">Facebook</label>
                    <input type="text" id="facebook" value="<%= dataNetworks.facebook %> " name="facebook" placeholder="cole link do facebook aqui" />
                </span>
                <span>
                    <label for="linkedin">Linkedin</label>
                    <input type="text" id="linkedin" value="<%= dataNetworks.linkedin %> " name="linkedin" placeholder="cole link do linkedin aqui" />
                </span>
                <span>
                    <label for="instagran">Instagran</label>
                    <input type="text" id="instagran" value="<%= dataNetworks.instagran %> " name="instagran" placeholder="cole link do ins aqui" />
                </span>
            </div>
        </div>
        <div class="separator light"></div>
        <button type="submit" form="form-client-network">Gravar</button>
    </form>
</div>