<div class="client-list">
    <form id="form-client-address" method="POST">
        <div class="client-address">

            <div class="separator light"></div>
            <h2>Endereço</h2>

            <label for="tipo">Endereços</label>
            <select name="tipo" id="tipo-end-editar">
                <option value="">Selecione um Endereço</option>
                <% dataClientAddress.forEach( address => { %>

                    <option value="<%= address.id%>">
                        <%=address.rua %>
                    </option>

                <% }) %>
            </select>

        </div>
        <button id="save-new-address" type="submit" form="form-client-address">Gravar</button>
    </form>
    <div class="separator light"></div>
</div>
