<header>
    <div class="page-header">
        <h1>
            <%= title %>
        </h1>
        
        <div>
            <% if (hasBack){ %>
                <a href="javascript:history.back()">Voltar</a>
                <% } %>

            <a href="<%- urlButton %>">
                <%= button %>
            </a>
        </div>
    </div>
</header>