.client-contact{
    color: var(--color-text);
}

.inputs-contact {
    display: flex;
    justify-content: space-between;
}

.inputs-contact label {
    display: inline-block;
    /* width: 20%; */
    min-width: 50px;
}

.inputs-contact span {
    width: 100%;
}

.inputs-contact input,
.inputs-contact select {
    width: 100%;
}