.client-address{
    color: var(--color-text);
    /* margin-top: 10px;
    width: 70vw;
    background-color: var(--color-secondary-background);
    border-radius: 10px;
    padding: 10px; */
}

.inputs-address {
    display: flex;
    justify-content: space-between;
}

.inputs-address label {
    display: inline-block;
    /* width: 20%; */
    min-width: 50px;
}

.inputs-address span {
    width: 100%;
}

.inputs-address input,
.inputs-address select {
    width: 100%;
}