* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary-background: #303035;
    --color-secondary-background: #49494e;
    --color-text: #FCFDFF;
    --color-cancel: #E1E3E5;
    --color-delete: #EB3B35;
    --color-editar: #d68110;
    --color-save: #36B336;
    --color-hairline-in-dark: #4F4F5B;
    --color-hairline-in-light: #E1E3E5;
}

body {
    background-color: var(--color-primary-background);
}

a {
    text-decoration: none;
}

.separator {
    height: 1px;
    background-color: var(--color-hairline-in-dark);
    margin: 1rem 0;
}

.separator.light {
    background-color: #E1E3E5;
}