.visible {
    display: none;
}

.client-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    min-width: 400px;
    flex-wrap: wrap;
}

.search-client,
.client-list table {
    background-color: var(--color-secondary-background);
    color: var(--color-text);
    border-radius: 10px;
    width: 70vw;
    text-align: center;
    border-collapse: collapse;
}

.search-client {
    padding: 10px;
    margin-bottom: 10px;
}

.search-client input {
    width: 80%;
    outline: none;
}

.networks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.networks a {
    margin-left: 10px;
}

.client-list table th,
.client-list table td {
    padding: 5px 0;
}

.client-list table > tbody > tr:hover{
    background-color: #999;
}

.client-list img {
    width: 30px;
    height: 30px;
}

.button-list-edit {
    display: flex;
    background-color: var(--color-secondary-background);
    width: 70%;
    justify-content: space-around;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.search-client a,
.button-list-edit > a {
    color: var(--color-text);
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}

.button-search {
    background-color: var(--color-secondary-background);
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    color: var(--color-text);
    margin-left: 5px;
    cursor: pointer;
}