.client-network{
    color: var(--color-text);
}

.inputs-network {
    display: flex;
    justify-content: space-between;
}

.inputs-network label {
    display: inline-block;
    /* width: 20%; */
    min-width: 50px;
}

.inputs-network span {
    width: 100%;
}

.inputs-network input,
.inputs-network select {
    width: 100%;
}